
/* Header principal */ 
.main-header {
  position: relative;
  height: 350px;
  padding: 5px 0;
  background-color: #000000;
}

/* Superposición del texto sobre el carrusel */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 10;
}

.overlay h1, .overlay p {
  color: #ffffff !important;
  text-shadow: 3px 3px 5px rgba(237, 222, 53, 0.749), -3px -3px 5px rgb(0, 0, 0);

}

.overlay h1 {
  font-size: 3rem;
}

.overlay p {
  font-size: 1.25rem;
}

/* Carrusel */
.carousel-inner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* Iconos de navegación - Efecto hover */
.nav-link i {
  font-size: 1.5rem;
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link:hover i {
  font-size: 1.8rem;
}

.nav-link.youtube:hover i {
  color: #FF0000;
}

.nav-link.linkedin:hover i {
  color: #0077b5;
}

.nav-link.email:hover i {
  color: #34a853;
}

.nav-link.projects:hover i {
  color: #ff9800;
}

/* Navbar */
nav {
  display: block;
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

/* Estilos generales */
body {
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */

}


body {
  font-family: 'Arimo', sans-serif;
}

h1,h2,h3 {
  font-family: 'Arimo', sans-serif;
  font-weight: 700; /* Negrita */
}

p {
  font-family: 'Arimo', sans-serif;
  font-weight: 400; /* Normal */
}


/* Modo Claro */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.light-mode nav {
  background-color: #f8f9fa; /* Fondo claro para el navbar */
  color: #000000;
}

body.light-mode nav a {
  color: #000000;
}

body.light-mode nav a:hover {
  color: #007bff;
}

/* Modo Oscuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode nav {
  background-color: #333333; /* Fondo oscuro para el navbar */
  color: #ffffff;
}

body.dark-mode nav a {
  color: #ffffff;
}

body.dark-mode nav a:hover {
  color: #ff9800;
}

/* Estilo para el botón de hamburguesa en pantallas pequeñas */
.navbar-toggler {
  margin-right: right;
  border-color: rgb(0, 0, 0); /* Color del botón en modo claro */
  padding: 10px; /* Ajusta el padding para aumentar la altura del botón */
  height: 50px; /* Establece una altura mínima para el botón */
}

body.dark-mode .navbar-toggler {
  border-color: rgb(255, 255, 255); /* Color del botón en modo oscuro */
}

/* Estilo para el icono del botón de hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  display: block;
  width: 30px; /* Ancho de las líneas */
  height: 4px; /* Grosor de las líneas */
  background-color: rgb(118, 118, 118); /* Color de las líneas */
  position: relative;
}

/* Líneas del botón hamburguesa */
.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: '';
  display: block;
  width: 30px; /* Ancho de las líneas */
  height: 4px; /* Grosor de las líneas */
  background-color: rgb(118, 118, 118); /* Color de las líneas */
  position: absolute;
  left: 0;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -10px; /* Espaciado de la línea superior */
}

.navbar-toggler .navbar-toggler-icon::after {
  bottom: -10px; /* Espaciado de la línea inferior */
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block; /* Asegúrar de que esté visible */
  }
}
/* Estilos de select en modo claro y oscuro */
select {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode select {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
}

/* Opciones del select */
option {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode option {
  background-color: #333;
  color: #ffffff;
}

/* Secciones generales */
.section-bg {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
}

body.dark-mode .section-bg {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Lista de proyectos y contacto */
.list-group {
  margin-bottom: 20px;
}

body.light-mode .list-group-item {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode .list-group-item {
  background-color: #333;
  color: #ffffff;
}

body.dark-mode .list-group-item a:hover {
  color: #606060;
}


body.dark-mode .about-section {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Sección "Quién Soy" */
.about-section {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  overflow: hidden; /* Evita desbordamientos */
}

/* Panel deslizante: configurado para desvanecerse */
.sliding-panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 2;
  width: 100%;
  opacity: 1; /* Visible inicialmente */
}

/* Oculta el panel deslizante cuando el contenido está en vista */
.sliding-panel.hide {
  opacity: 0; /* Oculto */
  transform: translateX(-100%); /* Mueve hacia la izquierda */
}

/* Contenido que se desliza desde el lado derecho */
.about-content {
  position: absolute;
  top: 0;
  left: 100%; /* Fuera de la vista */
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(0); /* Inicialmente en posición */
  transition: transform 0.5s ease-in-out;
  opacity: 0; /* Oculto por defecto */
}

/* Cuando el contenido está visible */
.about-content.show {
  transform: translateX(-100%); /* Lo trae a la vista */
  opacity: 1;
}

/* Estilo para el panel deslizante con disposición en columna */
.sliding-panel {
  position: relative;
  display: flex;
  flex-direction: column; /* Dispone los elementos en columna */
  align-items: center; /* Centra los elementos en el centro */
  padding: 20px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Estilo para el encabezado */
.sliding-panel h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: right; /* Centra el texto del encabezado */
}

/* Estilo para la imagen */
.sliding-panel .profile-img {
  width: 250px; /* Ajusta el ancho de la imagen */
  height: 250px; /* Ajusta la altura de la imagen */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  margin: 15px 0; /* Espacio alrededor de la imagen */
  object-fit: cover;
}

/* Estilo para la lista de párrafos */
.sliding-panel ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin-right: right;
  text-align: center;
  width: 100%; /* Asegura que la lista ocupe el ancho completo */
}

.sliding-panel ul li {
  margin-right: auto;
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

/* Flechas laterales */
.btn-arrow-left, .btn-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #007bff;
  cursor: pointer;
  z-index: 3;
}

.btn-arrow-left {
  left: 0; /* Posición a la izquierda */
  margin-left: 10px;
}

.btn-arrow-right {
  right: 0; /* Posición a la derecha */
  margin-right: 10px;
}

.btn-arrow-left:hover, .btn-arrow-right:hover {
  color: #0056b3;
}

/* Panel deslizante */
.sliding-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 100%;
  opacity: 1;
}

/* Oculta el panel deslizante cuando el contenido está en vista */
.sliding-panel.hide {
  opacity: 0;
  transform: translateX(-100%);
}

/* Configuración del contenido deslizante */
.about-content {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}

.about-content.show {
  transform: translateX(-100%);
  opacity: 1;
}


#pc {
  max-width: 10%; /* La imagen no será más grande que su contenedor */
  height: auto; 
  margin-right: right;
}


.project {
  display: inline-block;

  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  max-width: 200px; /* Limita el ancho máximo */
  width: 95%; /* Se adapta al ancho de la columna en el grid */
  margin: 15px;
  position: relative; /* Para el posicionamiento de los hijos */
  overflow: hidden; /* Evita que el contenido se desborde */
}

/* Efecto hover */
.project:hover {
  transform: translateY(-10px);
}



/* Modo claro */


body.light-mode .project a {
  background-color: #000000;
  color: #ffffff;
}

/* Modo oscuro */


body.dark-mode .project a {
  background-color: #000000;
  color: #ffffff;
}

body.dark-mode .project a:hover {
  background-color: #e67e22;
}

body.light-mode .project a:hover {
  background-color: #0079f9;
}

/* Ajustes de la sección de proyectos */
.projects-section {
  display: inline-block;
  padding: 20px;
  gap: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Imagen de fondo del proyecto */
.project-image {
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto */
  border-radius: 10px;
  position: absolute; /* Para que se superponga al contenido */
  top: 0;
  left: 0;
  z-index: 1; /* Detrás del contenido */
}


/* Imagen estática */
.project-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}

/* Texto en la tarjeta */
.project h3,
.project p,
.project a {
  position: relative;
  z-index: 2; /* Asegura que el texto esté encima de la imagen */
  color: #333;

}

/* GIF en segundo plano */
.project-video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none; /* Oculto por defecto */
}

/* Efecto al pasar el cursor */
.project:hover .project-image {
  opacity: 0; /* Oculta la imagen estática */
}

.project:hover .project-video {
  display: block; /* Muestra el GIF */
}

/* Encabezado de proyecto */
.project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  position: relative;
  z-index: 3; /* Asegura que esté sobre la imagen y el gif */
  background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  padding: 5px;
  border-radius: 5px;
}

/* Descripción del proyecto (se esconde en hover) */
.project p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  transition: opacity 0.3s ease;
  text-shadow: 3px 3px 5px rgba(7, 7, 7, 0.749), -3px -3px 5px rgb(0, 0, 0);
}

.project:hover p {
  opacity: 0; /* Se oculta en hover */
}

/* Ícono de GitHub en lugar de botón */
.project a {
  background-color: transparent;
  padding: 0;
  display: inline-block;
  font-size: 1.5rem;
  color: #000000;
  transition: color 0.3s ease;
}

.project a:hover {
  color: #000000;
}

/* Imagen estática */
.project-image {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Video de fondo que se reproduce en hover */
.project:hover .project-image {
  opacity: 0; /* Oculta la imagen estática */
}

.project:hover .project-video {
  display: block; /* Muestra el GIF */
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 300px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.project a {
  margin-top: auto; /* Empuja el botón al final */
}