

.main-header {
  position: relative;
  height: 300px; /* Ajusta la altura según lo que necesites */
}

/* Superpone el texto sobre el carrusel */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Color del texto */
  text-align: center;
  z-index: 10; /* Asegura que el texto esté por encima del carrusel */
}

.overlay h1 {
  color: #ffffff !important;
  font-size: 3rem;
  margin: 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
  -3px -3px 5px rgba(0, 0, 0, 0.8);
}

.overlay p {
  color: #ffffff !important;
  font-size: 1.25rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8),
  -3px -3px 5px rgba(0, 0, 0, 0.8);
}

/* Ajusta el tamaño del carrusel para que ocupe el 100% del ancho */
.carousel-inner img {
  width: 100%;
  height: 300px; /* Asegura que el carrusel coincida con la altura */
  object-fit: cover; /* Mantiene la proporción de las imágenes */
}

/* Iconos de navegación - Efecto hover */
.nav-link i {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover i {
  color: #000; /* Color general por defecto */
}

.nav-link.youtube:hover i {
  color: #FF0000; /* Rojo para YouTube */
}

.nav-link.linkedin:hover i {
  color: #0077b5; /* Azul para LinkedIn */
}

.nav-link.email:hover i {
  color: #34a853; /* Verde para email (o puedes elegir otro color) */
}

.nav-link.projects:hover i {
  color: #ff9800; /* Naranja para proyectos */
}

.nav-link i {
  font-size: 1.5rem; /* Cambia este valor para ajustar el tamaño */
  transition: font-size 0.3s ease-in-out;
}

.nav-link:hover i {
  font-size: 1.8rem; /* Íconos más grandes al pasar el cursor */
}

nav {
  
  display: block;
  width: 100%;
  background-color: #f8f9fa; /* Color del navbar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombras opcionales */
  padding: 10px 0; /* Ajusta el espacio alrededor del navbar */
}

/* Estilos para el contenido principal */
.main-header {
  padding: 5px 0; /* Espacio superior e inferior alrededor del contenido */
  background-color: #000000; /* Color de fondo opcional */
}

.main-header h1 {
  font-size: 3rem; /* Tamaño del H1 */
  color: #333;
}

.main-header p {
  font-size: 1.25rem; /* Tamaño del párrafo */
  color: #666;
}

/* Centrar el contenido dentro de su contenedor */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.about-section {
  background-color: #f8f9fa; /* Fondo suave */
  padding: 50px 0;
}

.about-section {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 150px;
  height:  150px;
  border-radius: 50%; /* Hace que la imagen sea redonda */
  margin-right: 10px; /* Espacio entre la imagen y el título */
  object-fit: cover;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

/* Estilo para el texto oculto que se despliega */
.about-text {
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  display: none; /* Inicia oculto */
}
